* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*grid-template-rows: 8vh 84vh 8vh;*/
    grid-gap: .5rem
}
.header {
    grid-column: span 12;
}
.contents {
    grid-column: span 8;
}
.sidebar {
    grid-column: span 4;
}
.footer {
    grid-column: span 12;
    font-size: 1rem;
    color: rgb(134, 134, 134);
    text-align: center;
}